/*Styles For Intro Section*/
h1{
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  font-weight: 800;
  line-height: 95%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 10px;
  padding-left: 30px;
  /* font-variant-caps: all-petite-caps; */
  color:#194F39;
}

h2{
  font-family: 'Anton', sans-serif;
  font-size: 90px;
  font-weight: 800;
  text-align: left;
  margin-bottom: -20px;
  padding-left: 30px;
  /* font-variant-caps: all-petite-caps; */
  color:#194F39;
}

em {
  font-size: 60px;
  line-height: 95%;
  text-align: left;
  margin-left: -30px;
  color:#FBAAB8;
}

#intro {
  height: 700px;
  margin: 2rem auto;
  text-align: left;
}

#intro p {
  max-width: 600px;
  text-align: center;
  padding-left: 30px;
  margin-left: 400px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5rem;
  display: inline-block;
  color:#194F39;
}





/*Styles For Dataviz Section*/

#dataviz{
  padding-left:1em;
}

.tooltip{
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
}






/*Styles For Scrollable Texts*/

/*#scrolly {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  top: 0px;*/
/*  z-index: 90;*/
/*}*/

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFAF0;
  padding: 1rem;
  width: 100%;
}


#content {
  position: relative;
  /* padding: 0 1rem; */
  padding-right: 150px;
  padding-top: 100px;
  max-width: 30%;
}

.step1 {
  margin: 0 auto 2rem auto;
  background-color: #FFFAF0;
  color: #3b3b3b;
  margin-bottom: 400px;
  display: inline-block;
  /*position: -webkit-sticky;*/
  position: relative;
  top: 0;
}

.step1 p {
  text-align: left;
  /*max-width: 600px;*/
  padding-left: 30px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  /* font-size: 12px; */
  line-height: 1.5rem;
  text-align: left;
  color:#194F39;
}

.step2 {
  margin: 0 auto 2rem auto;
  background-color: #FFFAF0;
  color: #3b3b3b;
  margin-bottom: 400px;
  display: inline-block;
  /*position: -webkit-sticky;*/
  position: relative;
  top: 0;
}

.step2 p {
  text-align: left;
  /*max-width: 600px;*/
  padding-left: 30px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  /* font-size: 12px; */
  line-height: 1.5rem;
  text-align: left;
  color:#194F39;
}

.step3 {
  margin: 0 auto 2rem auto;
  background-color: #FFFAF0;
  color: #3b3b3b;
  margin-bottom: 400px;
  display: inline-block;
  /*position: -webkit-sticky;*/
  position: relative;
  top: 0;
}

.step3 p {
  text-align: left;
  /*max-width: 600px;*/
  padding-left: 30px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  /* font-size: 12px; */
  line-height: 1.5rem;
  text-align: left;
  color:#194F39;
}

.step4 {
  margin: 0 auto 2rem auto;
  background-color: #FFFAF0;
  color: #3b3b3b;
  margin-bottom: 400px;
  display: inline-block;
  /*position: -webkit-sticky;*/
  position: relative;
  top: 0;
}

.step4 p {
  text-align: left;
  /*max-width: 600px;*/
  padding-left: 30px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  /* font-size: 12px; */
  line-height: 1.5rem;
  text-align: left;
  color:#194F39;
}





/*Styles For Sticky Graphic*/

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 50%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  /*transform: translate3d(0, 0, 0);*/
  /*background-color: #8a8a8a;*/
}

figure p {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}
 
/*Scroll Test*/

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: #FFFAF0;
  color: #3b3b3b;
}










